---
layout: default
title: Badacze
permalink: /badacze/
klasa: badacze
menu: 3
---

<h2>Badacze i praktycy</h2>

{% for badacz in site.data.badacze %}
	<div class="badacz clearfix">
		<img src="/img/badacze/{{ badacz.fotka }}" alt="{{ badacz.imie }} {{ badacz.nazwisko }}">
		<h3>{{ badacz.imie }} {{ badacz.nazwisko }}</h3>
		{% if badacz.stopien %}<p class="stopien">{{ badacz.stopien }}</p>{% endif %}
		{% if badacz.afiliacja %}<p class="afiliacja">{{ badacz.afiliacja }}</p>{% endif %}
		<p class="bio">{{ badacz.bio }}</p>
	</div>
{% endfor %}